<html>
	
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/jquery.highlight.js"></script>
	<head>
	</head>

	<body>
		<div id="main-content">
			<h1>{{username}}'s Snippet</h1>
			<h3>Number {{snip_id}}</h3>
			<div id="codeboard">
				<div style="float: left; width: 200px;"></div>
				<div id='snippet' style="float: left; width: 200px;">
					<pre class="prettyprint">{{code}}</pre>
				</div>
				<div style="float: left; width: 200px;">
					<ul>
					%for annote in annotes:
						<li>{{annote['uid']}} annoted: {{annote['text']}}</li>
					%end
					</ul>
				</div>
			</div>
			<form method="POST" action="/annote/{{snippet}}" id="add-annote">
				<p><input type="text", name="annote", id="annote-input"/></p>
				<p><input type="submit" value="Submit Annote"/></p>
			</form>
		</div>
	</body>

</html>